<div id="index-right">
</div>

<div id="main">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.genrename %>
</p>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>

</div>
