<div id="index-right">
</div>

<div id="main">

<h2>お問い合わせ／連絡先</h2>

<p>このサイトについて、お問い合わせやご連絡がある方はTwitterもしくはFacebookにてコンタクトをお願いします。<br>
<br>
<a href="http://twitter.com/akiko74">Twitter</a><br>
<a href="http://facebook.com/akiko74">Facebook</a>
</p>

</div>
