<div id="index-right" class="clearfix">
 <div id="whatsnew">
    <p>TOPICS</p>
 </div>
 <div id="whatsnew_cont">
   <ul>
     <li>更新情報</li>
     <li>更新情報２</li>
   </ul>
 </div>
 <div id="twitter">
   <%= render 'widget' %>
 </div>
</div>

<div id="main">
 <div id="main_pict">
 <img src=images/top_image.jpg>
 </div>
 <div id="main_cont">
   <p>メインコンテテンツの場所</p>
 </div>
</div>
