<%= render 'layouts/shared/javascript' %>

  <div id="index-right" class="clearfix">
    <ul class="thumbnail">
           <% @pictures.each do |picture| %>
           <% @detail = picture.details.last %>
        <div id="thumbnail">
           <li><%= link_to(image_tag(picture.image.url(:thumb)), picture.image.url(:medium), :rev => detail_path(:id => @detail.id, :picture_id => picture.id), :title => @detail.name ) %></li>
           </div>
           <% end %>
    </ul>
    <br />
    <p><%= will_paginate @pictures %></p>
  </div>

