<div id="index-right">
</div>

<div id="main">

<%= form_for :dump, :url => {:action => "csv_import"}, 
                    :html => {:multipart => true } do |f| %>

    <label for = "dump_file">
     Select a CSV File :
    </label>
    <%= f.file_field %>
    <%= submit_tag 'Submit" %>

<% end %>
</div>
