<div id="index-right" class="clearfix">
  <ul class="thumbnail">
   <li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
   <li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
   <li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
   <li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
   <li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
   <li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
  </ul>
</div>

<div id="main">
 <div id="name">
   <p>魚の名前＞＞ポイント名</p>
 </div>
 <div id="main_pict">
 <img src="/images/top_image.jpg">
 </div>
 <div id="main_cont">
   <p>魚の種類とかタグとかもろもろ</p>
   <table id="detail">
   		<tr>
   	  	 <th>種類</th>
   	  	   <td><a href="http://www.yahoo.co.jp/">ウミウシ</a></td>
   	   </tr>
   	   <tr>
   	  	 <th>ポイント</th>
   	  	   <td><a href="http://www.yahoo.co.jp/">Chumphon Pinnacle</a>、<a href="http://www.yahoo.co.jp/">Twins</a>、<a href="http://www.yahoo.co.jp/">WhiteRock</a></td>
   	   </tr>
   	   <tr>
   	  	 <th>別名／他候補</th>
   	  	   <td><a href="http://www.yahoo.co.jp/">ウミウシ</a>、<a href="http://www.yahoo.co.jp/">ウミウシ</a>、<a href="http://www.yahoo.co.jp/">ウミウシ</a></td>
   	   </tr>
   </table>
  <div id="pictbox" class="clearfix">
    <ul>
    	<li><p>その他の写真</p></li>
    </ul>
   	<ul class="thumbnail">
     	<li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
 		<li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
 		<li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
 		<li><a href="http://www.yahoo.co.jp"><img src="/images/thumbnail.jpg"></a></li>
 	</ul>
  </div>
 </div>
</div>
